.table-pagination {
	width: 100%;
	padding: 10px;
}

.table-pagination .left-bar {
	display: flex inline;
	justify-content: start;
}

.table-pagination .left-bar .divider,
.table-pagination .left-bar .total-rows,
.table-pagination .left-bar .row-per-page {
	float: left;
	margin: 8px 10px;
}

.table-pagination .left-bar .divider {
	color: #A7B6BE;
}

.table-pagination .right-bar {
	display: flex;
	justify-content: end;
}

.table-pagination .right-bar ul {
	margin: 8px 10px;
	padding-left: unset;
}

.table-pagination .right-bar ul li {
	display: inline;
	padding: 12px 14px;
	border: 1px solid #EEF3F6;
	box-sizing: border-box;
	cursor: pointer;
}

.page-active {
	cursor: default !important;
	color: #008FE5;
}

.page-disabled {
	opacity: 0.6;
	cursor: default !important;
}

.table-pagination .right-bar ul li:first-child {
	border-radius: 100px 0 0 100px;
}

.table-pagination .right-bar ul li:last-child {
	border-radius: 0 100px 100px 0;
}

.row-per-page-options,
.row-per-page-options:focus-visible {
	border: 1px solid #EEF3F6;
	box-sizing: border-box;
	border-radius: 3px;
	outline: unset;
}
